html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

:root {
  --blue: #545b77;
  --red: #f6635c;
  --brown: #6c3428;
  --white: #fffbf5;
  --maroon: #862b0d;
  --light-brown: #dac0a3;
  --cream: #fff6dc;
  --beige: #eee0c9;
  --sage-green: #c4c1a4;
  --navy-green: #2d4356;
  --box-shadow: 0px 5px 10px rgba(100, 100, 100, 0.3);
  --brightness: brightness(90%);
}

/* custom font */
@font-face {
  font-family: "Nunito Sans";
  src: url(fonts/NunitoSans-VariableFont.woff2) format("woff2")
      tech("variations"),
    url(fonts/NunitoSans-VariableFont.woff2) format("woff2-variations");
  font-weight: 200 1000;
}

.add:hover,
.reset:hover,
.changeBtn:hover,
.deleteBtn:hover {
  filter: var(--brightness);
  cursor: pointer;
}
/*                      */

/* Style apply to many  */
html body {
  font-family: "Nunito Sans";
  background-color: var(--light-brown);
  word-wrap: break-word;
}

/* Styling header */
.header {
  min-width: 100%;
  max-width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;

  background-color: var(--cream);
  box-shadow: var(--box-shadow);
}

h1 {
  color: var(--brown);
  font-size: 3.5rem;
  font-weight: 800;
}

.header .add {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;

  background-color: var(--sage-green);
  border: none;
  border-radius: 10px;

  padding: 15px 30px;
}

/* Styling the modal */
dialog {
  position: relative;
  margin: 50px auto 0px;
  max-height: fit-content;

  background-color: var(--beige);
  box-shadow: var(--box-shadow);
  text-align: center;
  color: var(--navy-green);

  border: none;
  border-radius: 10px;
  padding: 20px;
}

.modal h2 {
  font-size: 2.2rem;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Style for form */
form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin: 10px 0px 30px;
  padding: 0 20px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

input,
select {
  height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 5px 10px;

  font-size: 1.1rem;
  font-weight: 400;
}

/* Style for button */
.svg {
  width: 30px;
  height: 30px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--beige);
  border: none;
  cursor: pointer;
}

.close .svg {
  filter: invert(22%) sepia(23%) saturate(810%) hue-rotate(166deg)
    brightness(97%) contrast(91%);
}

.action-btn {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 0 45px 10px;
}

.action-btn button {
  font-size: 1.4rem;
  font-weight: 650;
  border: none;
  border-radius: 10px;
  padding: 10px;

  width: 130px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--cream);
}

.add {
  background-color: #d27685;
}

.reset {
  background-color: #e48586;
}

.add .svg,
.reset .svg {
  filter: invert(94%) sepia(11%) saturate(1040%) hue-rotate(316deg)
    brightness(108%) contrast(102%);
}

/* main container */
.main-container {
  max-width: 1200px;
  margin: 80px auto 0px;
  padding: 0 30px;
}

/* Styling book container */
.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

/* Styling card in book container */
.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  background-color: var(--white);
  color: var(--maroon);

  border: none;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 30px;
  line-height: 1;
}

h3.title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.book-card p {
  font-size: 1.2rem;
}

.card-btn {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.card-btn button {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);

  border: none;
  border-radius: 10px;
  padding: 15px;
}

.changeBtn {
  background-color: var(--blue);
}

.deleteBtn {
  background-color: var(--red);
}
